


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    background: #c8e584;
    font-family: "Rubik 80s Fade", system-ui;}

.logo {
    font-size: 30px;
    justify-content: center;
    display: flex;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "img1 img1 img1"
        "img2 img3 img4"
        ". img7 ."              
        ;
    gap: 12px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.galeria img {
    width: 100%;
    height: 500px;      
    object-fit: cover;
    border-radius: 8px;
}

/* Asignación de áreas */
.img1 { grid-area: img1; }
.img2 { grid-area: img2; }
.img3 { grid-area: img3; }
.img4 { grid-area: img4; }
.img5 { grid-area: img5; }
.img6 { grid-area: img6; }
.img7 { grid-area: img7; }

/* Dispositivos: 2 por fila */
@media (max-width: 700px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: none;
    }
    .galeria img {
        height: 180px;
    }




